@model IEnumerable<MVC_BookStore2.Models.CHUDE>
    <p class="lead"></p>
<div class="list-group">
@foreach (var item in Model)
            {
              <a href="@Url.Action("SPTheochude", "BookStore", new {id = item.MaCD})" class="list-group-item">
               <div> @item.TenChuDe</div>
              </a>
            }
</div>
