@model IEnumerable<MVC_BookStore2.Models.NHAXUATBAN>
<p class="lead"></p>
<div class="list-group">
    @foreach (var item in Model)
            {
                <a href="@Url.Action("SPTheoNXB", "BookStore", new { id = item.MaNXB})" class="list-group-item">
                  <div>  @item.TenNXB </div>
                </a>
            }
</div>