
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CodePen - Calm breeze login screen</title>
    <link rel="stylesheet" href="~/Content/style3.css">

</head>
<body>
    <!-- partial:index.partial.html -->
    <div class="wrapper">
        <div class="container">
            <h4>Đăng nhập hệ thống quản trị</h4>
            <p>Vui lòng nhập User Name và Password!</p>
            <h4 style="color:red; text-align:center"> @ViewBag.Thongbao</h4>

            <div class="for">

                @using (Html.BeginForm())
                {
                    @Html.ValidationSummary(true)
                <div class="form-group">
                    <label class="form-label">Username    </label>
                    <input type="text" name="username" required="required" class="form-control" />
                 
                    @ViewData["Loi1"]


                </div>
                <div class="form-group">
                    <label class="form-label">Password</label>
                    <input name="password" type="password" required="required" class="form-control" />

                   
                    @ViewData["Loi2"]
                    <button type="submit" class="btn">Đăng nhập </button>



                </div>
                }
        </div>

        <ul class="bg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    
    <!-- partial -->
    <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="~/Scripts/script.js"></script>

</body>
</html>



